*{
    margin: 0;
    padding: 0;
    padding: 0;
    margin: 0;
}

body{
	background-color: #F6FFDE!important;
}

nav {
	position: relative;
	z-index: 10;
	padding: 0 5%;
	height: 15vh;
	text-transform: uppercase;
    background-color: rgb(37, 141, 37);
	box-shadow: 0px 5px 10px 0px #aaa;
}

nav .links {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	position: relative;
	padding: 1em;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
    transition: 1s;
	z-index: 0;
}

nav .links a::before{
	content: "";
	position: absolute;
	z-index: -1;
	width: 0%;
	height: 1%;
	background-color: #fff;
	top: 80%;
	transition: 1s;
}

nav .links a:hover::before{
	width: 90%;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		background-color: rgb(37, 141, 37);
		overflow: hidden;
		transition: all .5s ease-in-out;
	}

	.relativeSectionFirst{
		flex-direction: column!important;
	}

	.statistiche{
		padding: 0;
		margin-top: 2rem;
	}

	nav{
		background-color: rgb(37, 141, 37);
	}
	nav .links a {
		font-size: 20px;
	}

    /* ~ tutti i .links che sono sullo stesso livello*/

	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}

    nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
}

.contentGrafico{
	display: flex;
}

.statistiche{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 1.5em;
	width: 40%;
	padding: 1em;
	gap: .5em;
}

.itemStatistiche p{
	text-align: right;
}

.itemStatistiche{
	display: flex;
	width: 100%;
	flex-direction: column;
	background-color: #C7E9B0;
	border: 3px solid #B3C99C;
	border-radius: 8px;
	padding: 2em;
}

.grafico{
	width: 400px!important;
	height: 400px!important;
}

.relativeSection{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.relativeSectionFirst{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 3em;
	justify-content: center;
}

.containerCards{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.cardView{
	display: flex;
	flex-direction: column;
	padding: 2%;
}

.cardContent{
	display: flex;
}

.pan{
	display: flex;
	width: 100%;
	justify-content: center;
}

.titolareData{
	display: flex;
	flex-direction: row;
}

.cvv{
	display: flex;
	flex-direction: row;
}


.title {
    margin-bottom: 30px;
    color: #162969;
}

.cardNew{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-top: 2vh;
	padding-top: 80px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 80px;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective:600px;
	border: 1px solid black!important;
	border-radius: 8px;
	background-color: rgb(236, 234, 234);
}

/* .cardNew::before{
	position: absolute;
	content: "+";
	font-size: 2.5rem;
	z-index: 1;
	transform-origin: center;
} */

/* .cardNew:hover::before{
	transform: rotate(90deg);
	transition: .5s;
} */

.buttons{
	margin-top: 1vh;
	display: flex;
	flex-direction: row;
	align-items: end;
	gap: 1em;
}

.card{
	width: 320px;
	height: 190px;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective:600px;
	border: 0!important;
	background-color: #F6FFDE!important;
}

.card__part{
	box-shadow: 1px 1px #aaa3a3;
    top: 0;
	position: absolute;
	z-index: 1000;
	left: 0;
	display: inline-block;
    width: 320px;
    height: 190px;
    background-image: linear-gradient(to left, blue, rgb(151, 151, 244)); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front{
  	padding: 18px;
	-webkit-transform: rotateY(0);
	-moz-transform: rotateY(0);
}

.card__back {
	padding: 18px 0;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 16px;
}

.card__front-logo{
    position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before{
  content:'';
  position: absolute;
	top: -3px;
	left: -3px;
	height: calc(100% + 6px);
	width: calc(100% - 42px);
	border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

.itemListNav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.itemListNav a, .itemListNav p{
	display: flex;
	margin-bottom: 0;
}

.buttonVai{
	display: flex;
	margin-top: 10%;
	text-decoration: none;
}

.buttonBack{
	display: flex;
	margin-top: 10%;
	text-decoration: none;
}

.buttonNew{
	border: 0;
	border-radius: 50%;
	font-size: 30px;
	background-color: rgb(236, 234, 234);
	transform-origin: center;
}

.buttonNew:hover{
	transform: rotate(90deg);
}

.transition{
	transition: 1s;
}

.displayNone{
	display:none;
	transition: 1s;
}

.formContent{
	text-align: center;
	display: flex;
	flex-direction: column;
}

.pCardNew{
	padding: 0; 
	margin: 0;
	font-size: 2rem;
}

.buttonElimina{
	display: flex;
	justify-content: flex-end;
	background: #FF4742;
	border: 1px solid #FF4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}

.buttonElimina:hover,
.buttonElimina:active{
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.buttonElimina:active{
  opacity: .5;
}

.buttonVai{
	background: rgb(37, 141, 37);
	border: 1px solid rgb(37, 141, 37);
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}
  
.buttonVai:hover,
.buttonVai:active{
	background-color: initial;
	background-position: 0 0;
	color: rgb(37, 141, 37);
}
  
.buttonVai:active{
	opacity: .5;
}

.error{
    color: red;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0;
}

.buttonBack{
	width: 100%;
	background: #FF4742;
	border: 1px solid #FF4742;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}
  
.buttonBack:hover,
.buttonBack:active{
	background-color: initial;
	background-position: 0 0;
	color: #FF4742;
}
  
.buttonBack:active{
	opacity: .5;
}
